
#demo2 {
	height: 200px;
}
#demo3 {
	height: 200px;

}
#welcome {
	border: 10px;
    width: 500px;
    height: 200px;
    border:3px solid black;
      display: block;
 	 position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-animation-name: welcome; 
    -webkit-animation-duration: 4s; 
    animation-name: welcome;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
@-webkit-keyframes welcome {
  	0%   {background: url(images/football.jpg);}
    25%  {background: url(images/handball.jpg);}
    50%  {background: url(images/tennis.jpg);}
    75% {background: url(images/snooker.jpg);}
    100% {background: url(images/icehockey.jpg);}
    }
#demo {
	padding-top: 15px;
	border:3px solid black;
    width: 500px;
    height: 200px;
    display: block;
 	position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-animation-name: example; 
    -webkit-animation-duration: 5s; 
    animation-name: example;
    animation-duration: 40s;
    animation-iteration-count: infinite;
}
@-webkit-keyframes example {
  	0%   {background: url(images/L6.jpg);}
    9%   {background: url(images/L4.jpg);}
    18%  {background: url(images/L5.jpg);}
    27%  {background: url(images/L7.jpg);}
    36%  {background: url(images/L8.jpg);}
    45%  {background: url(images/L9.jpg);}
    54%  {background: url(images/L10.jpg);}
    63%  {background: url(images/L11.jpg);}
    72%  {background: url(images/L12.jpg);}
    81%  {background: url(images/L13.jpg);}
    90%  {background: url(images/L14.jpg);}
    100% {background: url(images/L15.jpg);}
    }
    #myButton{
    	vertical-align: middle;

    	    }
button {
background: green;
height: 30px;
}
.button2 {
background: yellow;
}
.button3 {
background: red;
}
#myButton{
	background: white;
	height: 50px;
}

